.main_background,
.join_background {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  margin-bottom: 100px;
}

.main_background {
  background-image: url("../assets/images/background.jpg");
  height: 80vh;
}

.join_background {
  background-image: url("../assets/images/join-bg.png");
  height: 100vh;
}

@media (max-width: 480px) {
  .main_background {
    height: 60vh;
  }

  .join_background {
    height: 80vh;
  }
}