.grid {
  padding-left: 8vw;
  padding-right: 8vw;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2vw;
  margin-bottom: 20px;
}

.grid_narrow {
  padding-left: 16vw;
  padding-right: 16vw;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1vw;
}

.grid_row {
  margin-left: -16vw;
  padding-right: 8vw;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 1vw;
}

.item,
.item_row,
.item_left_align {
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 20vw;
  height: 70vh;
  overflow: hidden;
  gap: 1vw;
}

.item_left_align {
  padding-left: 8vw;
  flex-direction: row;
  align-items: flex-start;
  width: 30vw;
  height: 100%;
}

.item_left_align img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 0.15em;
}

.item_row {
  flex-direction: row;
  width: 40vw;
  height: 25vh;
  overflow: hidden;
  align-items: flex-start;
  text-align: left;
}

.item_row_button {
  padding-left: 150px;
  margin: 0;
  display: flex;
  flex-direction: row;
  width: 30opx;
  height: 100px;
  overflow: hidden;
  align-items: center;
}

.item_row_button img {
  object-fit: contain;
  display: flex;
  width: 75px;
  height: 50px;
  overflow: hidden;
  border-radius: 0.15em;
}
.grid img,
.grid_row img,
.grid_narrow img {
  object-fit: cover;
  display: flex;
  width: 400px;
  height: 500px;
  overflow: hidden;
  border-radius: 0.15em;
}
.grid_row img {
  width: 250px;
  height: 150px;
}
